{% extends 'employees\employee_base.html' %}

{% block title %}{% block header %} {{logged_in_employee}}'s Daily Route {% endblock %}{% endblock %}

{% block content %}

<form method="POST" action = >{% csrf_token %}
    <label for="daySelect">Choose a day</label>
    <select type="text" id="daySelect" name="daySelect">
        <option>Monday</option>
        <option>Tuesday</option>
        <option>Wednesday</option>
        <option>Thursday</option>
        <option>Friday</option>
    </select>
    <br><br>
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
<br>
<br>
<h2> {% if  day_chosen == null%}
        Please choose a day above!
    {%else%}
        Here are {{day_chosen}}'s customers:</h2>
    {%endif%}


<!--  working on col for the for statement -->
<div class="container">
    {% for customers in customer_service_day%}
    <p>Name: {{customers.name}} | <a href="{%url 'employees:map' customers.id%}">Address: {{customers.address}}</a> | Balance: ${{customers.balance}}</p>
    {%endfor%}
</div>



{% endblock %}