{% extends 'employees\employee_base.html' %}

{% block title %}{% block header %} {{logged_in_employee}}'s Daily Route {% endblock %}{% endblock %}

{% block content %}
<!-- dropdown for the day  return to the function  -->
<!-- display the list of todays customers, link to or box to confirm pick is complete -->
  {% for customer in valid_route %}
    {{customer.name}} Service Zip Code:{{customer.zip_code}} <br> <a href="{% url 'employees:serviced' customer.id %}">Mark Serviced</a>
  {%endfor%}
Todays Date: {{today}}
 
{% endblock %}