{% extends 'customers\customer_base.html' %}

{% block title %} Customer Home {% endblock %}

<div  class="container-fluid">
  <div class="row col-sm">
        {% block header %} Customer Portal {% endblock %}
          {% block content %}
            {% if user.is_authenticated %}
                  <h3>Hello {{ logged_in_customer.name }}</h3><br />
                  

            {% else %}
              <p>You are at the customer index, but you are not logged in.</p>
              <a href="{% url 'login' %}">Log In</a>
              <a href="{% url 'accounts:register' %}">Sign Up</a>
            {% endif %}
        </div>
          
  <div class="row"><br></div>
      <div class="row ">
          <div class="col-8 p-3 mb-2 bg-light  text-dark border border-dark"><h3>How plastic waste engulfed the world</h3>
              <p>BY LAURA PARKER<br>
                PUBLISHED JULY 23, 2020<br>
                Though we don’t know exactly how much plastic is in the ocean, we do know more about what drives the growth of plastic waste. Global population growth and the increasing plastic production account for part of it. Per capita use is on the rise, especially in developing nations—India, for example—with an expanding middle class and low rates of garbage collection. Finally, cheap virgin plastic enables a shift into production of an increasing number of low-value plastic products that are not recyclable, adding to the glut of plastics that go uncollected.
                
                Martin Stuchtey, SYSTEMIQ’s co-founder and managing partner, says he hopes the project will bring clarity to the global debate about solutions, which are often contradictory, unworkable, or unsustainable. For example, incineration and open burning of plastic are on the rise, and if nothing changes, could increase from 49 million metric tons in 2016 to 133 million metric tons in 2040.
                
                Recycling is one of the most effective means of reducing the use of virgin plastic, but first it has to be collected, and today two billion people lack access to waste collection systems. By 2040 that number will double to four billion, mostly in rural areas in middle- and low-income countries. Closing the collection gap and connecting them to a garbage system, Pew found, would require connecting 500,000 people a day, every day, between now and 2040. That is an inconceivable prospect, but was included in the report to convey the enormity of the problems involved in containing waste on a global scale.
                
                “Good luck with that,” says Yoni Shiran, a SYSTEMIQ project manager and one of the co-authors of the Science paper. “If that’s not going to happen, the solution is to come up with a wiser system.”
                </p></div>
          <div class="col-1"></div>
                  
          <div class="col-3 col-sm p-3 mb-2 bg-info text-dark border border-dark"><h3 class="float-center">Profile Info</h3><br>
                    
                      
                      {% if user.is_authenticated %}
                  {{ logged_in_customer.name }}<br />
                  Address: {{ logged_in_customer.address }} {{logged_in_customer.zip_code }}<br />
                  Current balance: $ {{ logged_in_customer.balance }}.00
                  <br />
                  <br />
                  Your Weekly Pickup Day: {{ logged_in_customer.weekly_pickup }}
                  <br />
                  <br />
                  {% if logged_in_customer.one_time_pickup %}
                    You have an extra pickup scheduled for {{ logged_in_customer.one_time_pickup }}
                  {% endif %}
                  <br />
                  <br />
                  {% if today > logged_in_customer.suspend_start and today < logged_in_customer.suspend_end %}
                    Your pickups are suspended until {{ logged_in_customer.suspend_end }}
                  {% endif %}

            {% else %}
              <p>You are at the customer index, but you are not logged in.</p>
              <a href="{% url 'login' %}">Log In</a>
              <a href="{% url 'accounts:register' %}">Sign Up</a>
            {% endif %}
            
            <button type="button" class="btn btn-primary" onclick="location.href='{% url 'customers:edit_profile' %}'">EDIT PROFILE</button>
            
        </div>
          
              {% endblock %}
      </div>